fastapi
uvicorn
pymongo
requests
python-multipart
prometheus_fastapi_instrumentator
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
opentelemetry-exporter-otlp-proto-grpc

